/*!
 * Custom Bootstrap, based on Twitter Bootstrap
 * This styleguide imports all scss files from original bootstrap
 * and overrides only those that are modified with new custom files
 */

// Main Scss

//Bootstrap

// And this

@import './bootstrap/bootstrap';
@import '../../node_modules/aos/dist/aos.css';


// body {
//     background-image: url('../images/header-bg.png');
// }
header {
    border-bottom: 1px solid $gray-100;
}
footer {
    position: fixed;
    bottom: 0;left: 0;
    width: 100%;
    border-top: 1px solid $gray-100;
    background-color: $body-bg;
    box-shadow: 0 -1rem 1rem rgba(0,0,0,.05);
    @extend .py-2;
}
$comp-height: 7rem;
.chole-section {
    // @extend .col;
    @extend .w-100;
    @extend .pb-4;
    @extend .px-1;
    @include media-breakpoint-down(sm) {
        padding-bottom: .5rem!important;
    }
    .collapsible-btn {
        white-space: normal;
        @extend .d-flex;
        @extend .justify-content-between;
        @extend .align-items-center;
        text-align: left;
    }
}
.chole-title {
    @extend .text-sm-center;
    height: $comp-height*.3;
    font-size: .8rem;
}

.chole-row {
    @extend .my-2;
    height: $comp-height;
    > div {@extend .w-100}

    &.row-double {
        @extend .d-flex;
        // @extend .justify-content-between;
        @extend .align-items-start;
    }

}
.chole-btn-wrap {
    @extend .w-100; 
    // &:first-child {margin-right: .4rem;}
    // &:last-child {margin-left: .4rem;}
}
.chole-btn {
    @extend .w-100;
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-light;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;
    white-space: normal;
    font-size: .6rem!important;
    text-align: left;
    position: relative;
    height: $comp-height;
    overflow: hidden;
    &.active {
        border-color: $gray-200!important;
    }

    img {
        width: auto;
        height: 100%;
        transition: all ease .3s;
        transform: scale(1.1);
    }

    .btn-options {
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
        // transition: all .3s;
        button {
            @extend .btn;
            @extend .btn-link;
            @extend .btn-sm;
            color: $gray-500;
            padding: 0.2rem;
            &:hover {
                background-color: rgba(255,255,255,.9);
            }
        }

        @include media-breakpoint-down(sm) {
            opacity: 1;
        }
    }

    &:hover {
        img {
            transform: scale(1);
        }
        .btn-options {
            opacity: 1;
        }
    }
}

.lh-sm {
    line-height: 1rem;
}
.close {
    &.chole-close {
        // background-color: theme-color('primary');
        color: theme-color('primary');
        opacity: 1;
    }
}
