/*!
 * Custom Bootstrap, based on Twitter Bootstrap
 * This styleguide imports all scss files from original bootstrap
 * and overrides only those that are modified with new custom files
 */

// Main Scss

//Bootstrap

// And this

@import './bootstrap/bootstrap';
@import '../../node_modules/aos/dist/aos.css';


// Variables
$identifier-width: 2.5rem;
$sections-bg: $gray-100;
$btn-height: 7rem;
$btn-sm-height: 2rem;
$comp-header-height: $btn-height*.5;
$breakpoint: "lg";


header {
    background-color: $sections-bg;
    box-shadow: 0 0.2rem 1rem rgba(0,0,0,.05);
}
footer {
    position: fixed;
    bottom: 0;left: 0;
    width: 100%;
    background-color: $sections-bg;
    box-shadow: 0 -0.2rem 1rem rgba(0,0,0,.05);
    @extend .py-4;
    font-size: 1.2rem;
    
    .container {
        > div {
            margin-left: $identifier-width+.2rem; 
            @include media-breakpoint-down($breakpoint) {
                margin-left: 0;
            }
        }
    }
    @include media-breakpoint-down($breakpoint) {
        font-size: .8rem;
    }
}
// Mobile Collapsible Container and Buttons

.collapsible-container {
    @include media-breakpoint-up($breakpoint) {
        display: none;
    }
}
.collapsible-btn {
    white-space: normal;
    @extend .btn;
    @extend .btn-block;
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-center;
    text-align: left;
    @extend .px-4;
    @extend .py-2;
    font-size: .8rem;
    height: 4rem;
}
.chole-section {
    // @extend .col;
    @extend .w-100;
    @extend .pb-4;
    @extend .px-1;
    @include media-breakpoint-down($breakpoint) {
        padding-bottom: .5rem!important;
    }
    
}
.chole-title-replace {
    height: $comp-header-height;
    @extend .mb-2;
}
.chole-x {height: $btn-sm-height}
.chole-comp-header{
    height: $comp-header-height;
    border: 2px solid;
    @extend .align-items-center;
    @extend .justify-content-center;
    border-radius: $btn-border-radius;
    @extend .mb-2;

     @include media-breakpoint-up($breakpoint) {
        display: flex;     
    }

    @include media-breakpoint-down($breakpoint) {
        display: none;
    }
    .chole-title {
        @extend .text-sm-center;
        font-size: .8rem;
        margin: 0;
    }
}


.chole-row {
    @extend .my-2;
    height: $btn-height;
    > div {@extend .w-100}

    &.row-double {
        @extend .d-flex;
        // @extend .justify-content-between;
        @extend .align-items-start;
        > div {
            &:first-child {padding-right: .3rem;}
            &:last-child {padding-left: .3rem;}
        }
    }

}
.chole-btn-wrap {
    @extend .w-100; 
    
}
.chole-btn {
    @extend .w-100;
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-light;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;
    white-space: normal;
    font-size: .9rem!important;
    text-align: center;
    position: relative;
    height: $btn-height;
    overflow: hidden;

    &.chole-btn-sm {
        height: $btn-sm-height;
    }

    img {
        width: auto;
        height: 100%;
        transition: all ease .3s;
        transform: scale(1.1);
    }

    .btn-options {
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
        // transition: all .3s;
        button {
            @extend .btn;
            @extend .btn-link;
            @extend .btn-sm;
            color: $gray-500;
            padding: 0.2rem;
            &:hover {
                background-color: rgba(255,255,255,.9);
            }
        }

        @include media-breakpoint-down($breakpoint) {
            opacity: 1;
        }
    }

    &:hover {
        img {
            transform: scale(1);
        }
        .btn-options {
            opacity: 1;
        }
    }
}

.lh-sm {
    line-height: 1rem;
}
.close {
    &.chole-close {
        // background-color: theme-color('primary');
        color: theme-color('primary');
        opacity: 1;
    }
}
// Identifier
.chole-identifier {
    width: $identifier-width;
}
// Detailed Colors
.chole-section {
    .active {
        &.btn, .btn {
            background-color: #D2E8FC;
            background-repeat: repeat-x;
        }
    }
    
    &.chole-section-Ch {
        .chole-comp-header{border-color: theme-color("primary");}
        .chole-title {@extend .text-primary}
        .collapsible-btn {background-color: theme-color("primary"); color: $white}
    }
    &.chole-section-O {
        .chole-comp-header{border-color: theme-color("success");}
        .chole-title {@extend .text-success}
        .collapsible-btn {background-color: theme-color("success"); color: $white}

    }
    &.chole-section-L{
        .chole-comp-header{border-color: theme-color("danger");}
        .chole-title {@extend .text-danger}
        .collapsible-btn {background-color: theme-color("danger"); color: $white}

    }
    &.chole-section-E {
        .chole-comp-header{border-color: theme-color("warning");}
        .chole-title {@extend .text-warning}
        .collapsible-btn {background-color: theme-color("warning"); color: $white}
    }
}
